{% extends 'hangout/base.html' %}

{% block content %}

<!-- <form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form> -->

<div style="margin: 0px auto; width: 25%;">
<main class="form-signin">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% load static %}
        <img class="mt-4" src="{% static 'hangout/logo.png' %}" id="login-logo">
        <h1 class="h3 mt-3 fw-normal">Sign in</h1>
        {% if form.errors %}
        <p class="error-message"> Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <label for="{{ form.username.auto_id }}" class="visually-hidden">{{ form.username.label }}</label>
        {{ form.username }}
        <label for="{{ form.password.auto_id }}" class="visually-hidden">{{ form.password.label }}</label>
        {{ form.password }}
        <div class="mt-3">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>
    </form>
</main>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}