<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--  Bootstrap4  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!--  jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'hangout/style.css' %}">
        <nav>
            <ul class="nav-bar">
                <li id="logo-item"><img class="logo" src="{% static 'hangout/logo.png' %}"></li
                ><li><a href="{% url 'home' %}">Home</a></li
                ><li><a href="{% url 'hangout:create' %}">Create Hangout</a></li
                ><li><a href="{% url 'hangout:list' %}">My Hangouts</a></li
                ><li><a href="{% url 'hangout:discover' %}">Discover</a></li
                ><li><a href="{% url 'hangout:profile' %}">My Profile</a></li
                ><li id="login-button">{% block login %}
                    {% if user.is_authenticated %}
                    <span id="user-fullname">{{ user.get_full_name }}</span>
                    <a href="{% url 'logout' %}">LOG OUT</a>
                    {% else %}
                    <a href="{% url 'login' %}">LOG IN</a>
                    {% endif %}
                    {% endblock %}                
            </ul>
        </nav>
    </head>
    <body>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>