{% extends 'hangout/base.html' %}
{% block content %}

<h1>Create page</h1>
<form method="post" action="{% url 'hangout:create' %}">
{% csrf_token %}
<table>
    {% for field in form.visible_fields %}
    <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Create">
</form>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      // var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        // container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
<script>
  $('#id_participants')
      .dropdown()
  ;
</script>
{% endblock %}