{% extends 'hangout/base.html' %}
{% block content %}
<h1>Create page</h1>
<form method="post" action="{% url 'hangout:create' %}">
{% csrf_token %}
<table>
    {% for field in form.visible_fields %}
    <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Create">
</form>

<!-- Datepicker plugin -->
<div class="bootstrap-iso">
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
   
       <!-- Form code begins -->
       <!-- <form method="post"> -->
         <div class="form-group"> <!-- Date input -->
           <label class="control-label" for="id_date">Date</label>
           {{ form.date }}
           <!-- <input class="form-control" id="id_date" name="date" placeholder="MM/DD/YYY" type="text"/> -->
         </div>
        <!-- </form> -->
        <!-- Form code ends --> 
   
       </div>
     </div>    
    </div>
   </div>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
{% endblock %}