{% extends 'hangout/base.html' %}
{% block content %}
<h1>{{ form.name.value }}'s Hangout details</h1>
{% if msg %}
<p class="message">Hangout saved successfully!</p>
{% endif %}
<div class="container" style="width: 50%;">
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
</div>


{% if can_modify %}
<div>
    <a href="{% url 'hangout:modify' hangout_id %}">Modify</a>
    <a href="{% url 'hangout:delete' hangout_id %}" 
       onclick="return confirm('Do you really want to delete this Hangout?');">Delete</a>
</div>
{% endif %}
{% endblock %}